.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

.imgContainer{
  position: relative;
  text-align: center;
}

.title{
  font-size:50px;
}

.front-text{
  color: rgb(238, 238, 238);
  text-shadow: 2px 2px 20px #000000;
}

.font-color{
  color: rgb(238, 238, 238);
}

.img {
  border-radius: 10px;
  width: 100%;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
